//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail


// 1. Global
// ---------

//=== Simppler Palette
//==== primary blues
$drkblue:#101C2E; //rgba(16, 28, 46, 1)
$medblue:#123f88; //rgba(18, 63, 136, 1)
$lightblue:#90b4f0;//rgba(144, 180, 240, 1)
$simpplerblue:#1c71ff; // rgba(28, 113, 255, 1)   //primary color
//==== accent colors
$orange: #cc5702; // rgba(204, 87, 2, 1)
$purple:#5a4e99; // rgba(90, 78, 153, 1)
$lightgold:#ffb95b; // rgba(255, 185, 91, 1)
$green: #95CC02; // rgba(149, 204, 2, 1)

$primary-color: $simpplerblue;
$secondary-color: $lightblue;
$success-color: $green;
$warning-color: $orange;
$alert-color: $lightgold;
$light-gray: #f3f3f3;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$pre-color: #ff6908;

$global-width: 580px;
$global-width-small: 95%;
$body-background: lighten($secondary-color,23%);
$container-background: white;

$baseline-grid: 6px;
$pirate-ninja: $baseline-grid;

$global-gutter: $pirate-ninja * 3;
$global-padding: $pirate-ninja * 3;
$global-margin: $pirate-ninja * 3;
$global-radius: 1px;
$global-rounded: 500px;
$global-breakpoint: $global-width + $global-gutter;

// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: 0;
$container-radius: 0;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

$global-font-color: $drkblue;
$body-font-family: Helvetica, Arial, sans-serif;
$global-font-weight: normal;
$header-color: inherit;
$global-line-height: $pirate-ninja * 3;
$global-font-size: 15px;
$body-line-height: $global-line-height;
$header-font-family: $body-font-family;
$header-font-weight: $global-font-weight;
$h1-font-size: 34px;
$h1-leading: $pirate-ninja * 7;
$h2-font-size: 30px;
$h2-leading: $pirate-ninja * 6;
$h3-font-size: 28px;
$h3-leading: $pirate-ninja * 6;
$h4-font-size: 24px;
$h4-leading: $pirate-ninja * 5;
$h5-font-size: 20px;
$h5-leading: $pirate-ninja * 4;
$h6-font-size: 18px;
$h6-leading: $pirate-ninja * 4;
$header-margin-bottom: $pirate-ninja * 3;
$paragraph-margin-bottom: $pirate-ninja * 3;
$small-font-size: 80%;
$small-font-color: $medblue;
$lead-font-size: $h5-font-size;
$lead-line-height: $h5-leading;
$text-padding: $pirate-ninja * 3;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-font-weight;
$subheader-margin-top: $pirate-ninja;
$subheader-margin-bottom: $pirate-ninja * 2;
$hr-width: $global-width;
$hr-border: 2px solid $primary-color;
$hr-margin: ($pirate-ninja * 4) auto;
$anchor-text-decoration: none;
$anchor-color: $primary-color;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: darken($primary-color, 10%);
$anchor-color-active: $anchor-color-hover;
$stat-font-size: 40px;

// 5. Button
// ---------

$button-padding: (
  tiny: 4px 8px 4px 8px,
  small: 5px 10px 5px 10px,
  default: 8px 16px 8px 16px,
  large: 10px 20px 10px 20px,
);
$button-font-size: (
  tiny: 10px,
  small: 12px,
  default: 16px,
  large: 20px,
);
$button-color: $simpplerblue;
$button-color-alt: $simpplerblue;
$button-font-weight: bold;
$button-margin: 0 0 $global-margin 0;
$button-background: white;
$button-border: 1.5px solid $button-color;
$button-radius: $global-radius;
$button-rounded: $global-rounded;

// 6. Callout
// ----------

$callout-background:white;
$callout-background-fade: 85%;
$callout-padding: 10px;
$callout-margin-bottom: $global-margin;
$callout-border: 1px solid darken($callout-background, 20%);
$callout-border-secondary: 1px solid darken($secondary-color, 20%);
$callout-border-success: 1px solid darken($success-color, 20%);
$callout-border-warning: 1px solid darken($warning-color, 20%);
$callout-border-alert: 1px solid darken($alert-color, 20%);

// 7. Menu
// -------

$menu-item-padding: 10px;
$menu-item-gutter: 10px;
$menu-item-color: $primary-color;

// 8. Thumbnail
// ------------

$thumbnail-border: solid 4px white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba(black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;
