@import 'settings';
@import 'foundation-emails';

*{
  -webkit-hyphens:none;
  -moz-hyphens:none;
  -ms-hyphens:none;
  hyphens:none;

}
h1{
  font-size: $h1-font-size;
  line-height: $h1-leading;
  color:$simpplerblue;
}
h2{
  font-size: $h2-font-size;
  line-height: $h2-leading;
  color:$simpplerblue;
}
h3{
  font-size: $h3-font-size;
  line-height: $h3-leading;
}
h4{
  font-size: $h4-font-size;
  line-height: $h4-leading;
}
h5{
  font-size: $h5-font-size;
  line-height: $h5-leading;
}
h6{
  font-size: $h6-font-size;
  line-height: $h6-leading;
}

hr{
  border-top:none;
  border-bottom:$hr-border
}

p{
  font-size: 16px;
  line-height: 24px;
  margin:0; //setting up to use the spacer element
  padding:0 5px;
  //max-width: 635px;

}

a{
  -moz-transition: color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  // changed this to a bottom border and fixed line heights in paragraphs and the body
  // due to Chrome and Safari's lack of support for CSS3 text-decoration.
  border-bottom:1px dotted $lightgold;
  text-decoration: none;
  color:$medblue;
  font-weight: 600;
}

table.button table tr td a,
table.button.light table tr td a{
  border:none;
}

table.button table td {
  border:1.5px solid $simpplerblue;
  background-color: white;
  color:$simpplerblue;
  text-align: left;

  a{
    display:inline-block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding:($pirate-ninja / 2) 7px;
    border-bottom:none;

  }
}


table.button.light table td {
  border:1.5px solid $lightblue;
  background-color: white;
  color:$lightblue;
  text-align: left;


  a{
    display:inline-block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding:($pirate-ninja / 2) 7px;
    color:$lightblue;
    border-bottom:none;

  }
}

ul{
  list-style: none;

  li{
    display:block;
    margin-bottom:$pirate-ninja;
  }
}

em{
  font-size:18px;
  line-height: 24px;
  color:$simpplerblue;
  text-decoration: none;

}
th div.candidate-image  img.candidate-smile{
  width:60%;
  display: inline-block;
}
.candidate-card tbody tr th.candidate-flag table tbody tr th{
  padding: 0px 6px 0 0 !important;

  @media only screen and (max-width: #{$global-breakpoint}){
    padding: 5px 6px 0 0 !important;
  }
}
.candidate-image{
  width:100%;
  height:100%;
  text-align: right;
  padding-right:10px !important;
}

.candidate-name{
  font-size:20px;
  line-height: 24px;
  color: $simpplerblue;
  font-weight: 400;
  margin-bottom:0;
  @media only screen and (max-width: #{$global-breakpoint}){
    font-size:16px;
    line-height: 24px;
  }
}
.candidate-current-role{
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 0;

}
.mandatories{
  font-size:13px;
  line-height:18px;
}

.big-number{
  line-height: 36px;
  font-size: 36px;
  color:$simpplerblue;
}

.subtitle{
  font-weight: lighter;
  font-size:18px;
  line-height: $pirate-ninja * 4;
  text-align: left;
  margin-bottom:0;
}
.dotgrid-bg{
  background-image:url(https://282843b4b9ff81fb41ad-f2697da3b0effb3e234651a3b2ae77b1.ssl.cf5.rackcdn.com/valence_icons/lightblue_dot.png);
}
.newsletter-section-head{
  @extend .dotgrid-bg;
  padding:12px 5px;
  font-size:24px;
  color:$medblue;
  line-height: 30px;

  @media only screen and (max-width: #{$global-breakpoint}){
    font-size:18px;
  }
}
.block-bg{
  background-color: white;
  display:inline;

}
.newsletter-p{
  padding:0 26px;
}
.newsletter-referrals__item{
  margin-bottom:12px;
  padding: 0 18px;
}
.newsletter-referrals__referral-name{
  color:$simpplerblue;
  font-size:18px;
  line-height: 18px;
}
.newsletter-referrals__referred-for{
  color:$drkblue;
  font-size:14px;
  line-height: 24px;
}
.newsletter-referrals__referral-bonus{
  color:$lightgold;
  font-size:24px;
  line-height: 24px;
}
.newsletter-referrals__button{
  display:inline-block;
}

.newsletter-jobs__title{
  font-size:18px;
  line-height: 24px;
  padding-left:12px;
}
.newsletter-jobs__location{
  font-size:14px;
  line-height: 24px;
  padding-left: 12px;
}
.newsletter-jobs__stat-label{
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color:$lightblue;

  &--left{
    @extend .newsletter-jobs__stat-label;
    text-align: left;
    padding-left:5px;
  }
}
.newsletter-jobs__stat{
  text-align: center;
  font-size: 18px;
  line-height: 12px;
  color:$simpplerblue;
  vertical-align: middle;
  padding-bottom: 0;

}
.newsletter-stats__item{
  font-size:36px;
  line-height: 36px;
  color:$simpplerblue;
  vertical-align: baseline;
  text-align: center;
}
.newsletter-stats__label{
  font-size: 16px;
  line-height: 36px;
  vertical-align: baseline;
  text-align: center;
  color:$medblue;
}
th.table-header{
  padding:0;
}
th.job-table__item{
  padding:0;
}
th.table-header table{
  border-bottom: 1px solid $simpplerblue;

  padding: 0 0 0 0;
  text-align: left;
  color:$lightblue;
}
.sub-head{
  font-size:rem(14px);
  letter-spacing: rem(0.6px);
  border-bottom:1px solid $lightblue;
  color:$medblue;
}


//hackey right-aligned offset
@for $i from 1 through ($grid-column-count - 1) {
  td.large-roffset-#{$i},
  td.large-roffset-#{$i}.first,
  td.large-roffset-#{$i}.last,
  th.large-roffset-#{$i},
  th.large-roffset-#{$i}.first,
  th.large-roffset-#{$i}.last {
    //1.5 takes in effect a whole empty cell.
    padding-right: -zf-grid-calc-px($i, $grid-column-count, $global-width) + $global-gutter * 2;
  }
}
#logo-top{
  //width:100% !important;
  //max-width: 500px !important;
  //height:auto;
  margin: 12px 0 6px 0;
  @media only screen and (max-width: #{$global-breakpoint}) {
    height:35%;
  }

}
