---
subject: CandidateName, is interested!
subhead: Great work, [CandidateName] is interested in [position]
---
<container>
  {{> header}}
  <spacer size="12"></spacer>
  <row class="collapse candidate-card">
    <columns small="3" large="2" class="large-offset-2 candidate-flag" valign="middle">
      <!-- <div class="candidate-image">
        <img class="candidate-smile" src="http://e91eca16595b6e1393de-f2697da3b0effb3e234651a3b2ae77b1.r85.cf5.rackcdn.com/smiles/email-smile.png" alt="smiley face"/>
      </div> -->
    </columns>
    <columns small="9" large="8" valign="middle">
      <p class="candidate-name">[CandidateName]</p>
      <p class="candidate-current-role">[CandidateTitle] @ [CandidateCompany]</p>
    </columns>
  </row>
  <spacer size="12"></spacer>
  <row>
    <columns small="12" large="12">
      <p>
          We knew you were the right person to ask! [CandidateName] is intersted in the [position] role and it's all thanks to you!
      </p>
    </columns>
  </row>
  <spacer size="36"></spacer>
  <center>
    <button class="" href="#">Make some more referrals today!</button>
  </center>
  {{> footer}}
</container>
