---
subject: What happened in Simppler this week, date - date
subhead: What happened in Simppler this week
---
<container>
  {{> header}}
  <!-- secton header -->
  <row>
    <columns small="12" large="12">
      <p class="newsletter-section-head">
        <span class="block-bg"> Your future co-workers?</span>
      </p>
    </columns>
  </row>
  <row>
    <p class="newsletter-p">We found some people you may know. Would these folks make a great addition to your team?</p>
  </row>

  <!-- List of top-five recommendation candidates sorted by score on week-end-date highest to lowest.
  Below is an example of the final Inky markup  -->
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-name"><a href="#">Example Referral Name One</a></div>
        <div class="newsletter-referrals__referred-for">Current title @ Current company</div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-name"><a href="#">Example Referral Name One</a></div>
        <div class="newsletter-referrals__referred-for">Current title @ Current company</div>
      </div>
    </columns>
  </row><row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-name"><a href="#">Example Referral Name One</a></div>
        <div class="newsletter-referrals__referred-for">Current title @ Current company</div>
      </div>
    </columns>
  </row>
  <spacer size="6"></spacer>
  <center>
    <button class="" href="#">See all your recommended referrals</button>
  </center>
  <spacer size="6"></spacer>
  <!-- section header -->
  <row>
    <columns small="12" large="12">
      <p class="newsletter-section-head">
        <span class="block-bg">Your latest referrals</span>
      </p>
    </columns>
  </row>
  <!-- List of referrals goes here. Max = 5 referrals.
  Below is an example of the final Inky markup -->
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-name">Example Referral Name One</div>
        <div class="newsletter-referrals__referred-for">Referred for Job Title on Month DD</div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-name">Example Referral Name Two</div>
        <div class="newsletter-referrals__referred-for">Referred for Job Title on Month DD</div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-name">Example Referral Name Three</div>
        <div class="newsletter-referrals__referred-for">Referred for Job Title on Month DD</div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
          <div class="newsletter-referrals__referral-name">Example Referral Name Four</div>
          <div class="newsletter-referrals__referred-for">Referred for Job Title on Month DD</div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-name">Example Referral Name Five</div>
        <div class="newsletter-referrals__referred-for">Referred for Job Title on Month DD</a></div>
      </div>
    </columns>
  </row>
  <!-- section header -->
  <row>
    <columns small="12" large="12">
      <p class="newsletter-section-head">
        <span class="block-bg">Earn a referral bonus for a hot job</span>
      </p>
    </columns>
  </row>
  <!--List of jobs with referral bonuses and the bonus amount on week-end-date.
  Below is an example of the final Inky markup  -->
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-bonus">
          $25,000
          <span class="newsletter-referrals__referred-for"> if you help hire <a href="#">Job Title</a></span>
        </div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
          <div class="newsletter-referrals__referral-bonus">
            12.9" iPad Pro 256GB
            <span class="newsletter-referrals__referred-for">if you help hire <a href="#">Job Title</a></span>
          </div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
          <div class="newsletter-referrals__referral-bonus">
            $3,000
            <span class="newsletter-referrals__referred-for">if you help hire <a href="#">Job Title</a></span>
          </div>
      </div>
    </columns>
  </row>
  <spacer size="6"></spacer>
  <center>
    <button class="" href="#">See all your recommended referrals</button>
  </center>
  <spacer size="6"></spacer>
  {{> footer}}
</container>
