---
subject: Great news Name! Your Simppler Referrals account is ready to roll!
subhead: Your Simppler Referrals account is ready to roll!
---
<container>
  {{> header}}
  <row>
    <columns small="12" large="12">
      <p>
        Name,
      </p>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <p>
        Your contacts have been uploaded and you’re all set to start referring the best new co-workers you’ve ever had.
      </p>
    </columns>
  </row>
  <spacer size="12"></spacer>
  <center>
    <button class="" href="#">Start referring the best</button>
  </center>
  {{> footer}}
</container>
