---
subject: Get Right to the Heart of your Employee’s Network
subhead: Get Right to the Heart of your Employee’s Network
---
<container>
  {{> header_cm-template}}
  <row>
    <columns small="12" large="12">
      <multiline label='Intro paragraph'>Intro graph</multiline>
    </columns>
  </row>
  <spacer size="12"></spacer>
  <repeater>
    <row>
      <columns small="2" large="1" class="" >

      </columns>
      <columns small="8" large ="10" valign="middle">
        <em><singleline label='Feature item'>Feature item list item</singleline></em>
      </columns>
    </row>
    <spacer size="6"></spacer>
  </repeater>
  <spacer size="18"></spacer>
  <row>
    <columns small="12" large="12">
      <multiline label='Closing paragraph'>Closing graph</multiline>
    </columns>
  </row>
  {{> footer_cm-template}}
</container>
