---
subject: Get Right to the Heart of your Employee’s Network
subhead: Get Right to the Heart of your Employee’s Network
---
<container>
  {{> header}}
  <row>
    <columns small="12" large="12">
      <p>
        Hi [firstname,fallback=there],
      </p>
      <p>
        Today we’re announcing an update to the Simppler recruiting experience.
      </p>
      <p>
        But while we think the new design is an elegant step forward, the change is not just a facelift. We had hours of user research with our customers, and re-imagined the recruiter experience based on their feedback. Our new interface will help recruiters be even better at candidate discovery and engagement.
      </p>
      <p>
        We’ve made it easier for recruiters to:
      </p>
    </columns>
  </row>
  <spacer size="12"></spacer>
  <row>
    <columns small="2" large="1" class="" >

    </columns>
    <columns small="8" large ="10" valign="middle">
      <em>Discover talent within their employees networks</em>
    </columns>
  </row>
  <spacer size="6"></spacer>
  <row>
    <columns small="2" large="1" class="">

    </columns>
    <columns small="8" large ="10" valign="middle">
      <em>Evaluate position fit with a glance</em>
    </columns>
  </row>
  <spacer size="6"></spacer>
  <row>
    <columns small="2" large="1" class="">

    </columns>
    <columns small="8" large ="10" valign="middle">
        <em>Email a connected candidate directly from our platform</em>
    </columns>
  </row>
  <spacer size="18"></spacer>
  <row>
    <columns small="12" large="12">
      <p>
        However, we’re not done yet&mdash;we’re committed to creating the very best candidate discovery and engagement platform. Stay tuned for more updates as we continue to innovate.
      </p>
    </columns>
  </row>
  <spacer size="6"></spacer>
  <center>
    <button class="" href="https://simppler.uservoice.com/knowledgebase/articles/1079446-simppler-talent-get-right-to-the-heart-of-your-em">Learn more</button>
  </center>
  <spacer size="18"></spacer>
  <row>
    <columns small="12" large="12">
      <p>
        If you’d like to set up a customer training with your team, please schedule <a href="http://www.calendly.com/denismalkov">a time on my calendar</a>.
      </p>
    </columns>
  </row>
  {{> footer}}
</container>
