---
subject: Name, here’s what happened in Simppler this week
subhead: Here’s what happened in Simppler this week
---
<container>
  {{> header}}
  <!-- section header -->
  <row>
    <columns small="12" large="12">
      <p class="newsletter-section-head">
        <span class="block-bg">New referrals for you</span>
      </p>
    </columns>
  </row>
  <!-- active referrals subhead -->
  <row>
    <columns small="12" large="12">
      <p class="sub-head">Active referrals</p>
    </columns>
  </row>
  <!-- List of referrals goes here. Max =20 referrals.
  Below is an example of the final Inky markup -->
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-name"><a href="#">Example Referral Name One</a></div>
        <div class="newsletter-referrals__referred-for">Referred for Job Title</div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-name"><a href="#">Example Referral Name Two</a></div>
        <div class="newsletter-referrals__referred-for">Referred for Job Title</div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-name"><a href="#">Example Referral Name Three</a></div>
        <div class="newsletter-referrals__referred-for">Referred for Job Title</div>
      </div>
    </columns>
  </row>
  <!-- pasive referrals subhead -->
  <row>
    <columns small="12" large="12">
      <p class="sub-head">Passive referrals</p>
    </columns>
  </row>
  <!-- List of referrals goes here. Max = 20 referrals.
  Below is an example of the final Inky markup -->
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
          <div class="newsletter-referrals__referral-name"><a href="#">Example Referral Name Four</a></div>
          <div class="newsletter-referrals__referred-for">Referred for Job Title</div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <div class="newsletter-referrals__item">
        <div class="newsletter-referrals__referral-name"><a href="#">Example Referral Name Five</a></div>
        <div class="newsletter-referrals__referred-for">Referred for Job Title</a></div>
      </div>
    </columns>
  </row>
  <!-- section header -->
  <row>
    <columns small="12" large="12">
      <p class="newsletter-section-head">
        <span class="block-bg">How are your jobs doing?</span>
      </p>
    </columns>
  </row>
  <!--List of followed jobs with their stats on send date.
  Below is an example of the final Inky markup  -->
  <row>
    <columns small="12" large="12" class="job-table__item">
      <div class="newsletter-jobs__title"><a href="#">Job Title</a></div>
      <div class="newsletter-jobs__location"> Job location, ST, CO</div>
    </columns>
  </row>
  <row>
    <columns small="4" large ="2" class="job-table__item">
      <div class="newsletter-jobs__stat-label">Potential</div>
      <div class="newsletter-jobs__stat">99999</div>
    </columns>
    <columns small="4" large ="2" class="job-table__item">
      <div class="newsletter-jobs__stat-label">Referred</div>
      <div class="newsletter-jobs__stat">99999</div>
    </columns>
    <columns small="4" large ="2" class="job-table__item large-roffset-6">
      <div class="newsletter-jobs__stat-label">Response</div>
      <div class="newsletter-jobs__stat">99%</div>
    </columns>
  </row>
  <spacer size="24"></spacer>
  <row>
    <columns small="12" large="12" class="job-table__item">
      <div class="newsletter-jobs__title"><a href="#">Job Title 2</a></div>
      <div class="newsletter-jobs__location"> Job location, ST, CO</div>
    </columns>
  </row>
  <row>
    <columns small="4" large ="2" class="job-table__item">
      <div class="newsletter-jobs__stat-label">Potential</div>
      <div class="newsletter-jobs__stat">99999</div>
    </columns>
    <columns small="4" large ="2" class="job-table__item">
      <div class="newsletter-jobs__stat-label">Referred</div>
      <div class="newsletter-jobs__stat">99999</div>
    </columns>
    <columns small="4" large ="2" class="job-table__item large-roffset-6">
      <div class="newsletter-jobs__stat-label">Response</div>
      <div class="newsletter-jobs__stat">99%</div>
    </columns>
  </row>
  <!-- the last item in the list should have a spacer after it that is 24px not 30px -->
  <spacer size="24"></spacer>
  <!-- secton header -->
  <row>
    <columns small="12" large="12">
      <p class="newsletter-section-head">
        <span class="block-bg">Your stats</span>
      </p>
    </columns>
  </row>
  <!-- List of stats for this user as of the send date. The stats themselves need to be populated.  -->
  <row>
    <columns small="12" large="4">
      <div class="newsletter-stats__item">54,332</div>
    </columns>
    <columns small="12" large="8">
      <div class="newsletter-stats__label">
        Total people you've contacted
      </div>
    </columns>
  </row>
  <spacer size="12"></spacer>
  <row>
    <columns small="12" large="4">
      <div class="newsletter-stats__item">100,332</div>
    </columns>
    <columns small="12" large="8">
      <div class="newsletter-stats__label">
        Total candidates you've found
      </div>
    </columns>
  </row>
  <spacer size="12"></spacer>
  <row>
    <columns small="12" large="4">
      <div class="newsletter-stats__item">4,332</div>
    </columns>
    <columns small="12" large="8">
      <div class="newsletter-stats__label">
        People contacted this week
      </div>
    </columns>
  </row>
  <spacer size="18"></spacer>
  {{> footer}}
</container>
