---
subject: Your Simppler sign-in request on Month DD
subhead:
---
<container>
  {{> header}}
  <spacer size="12"></spacer>
  <row>
    <columns small="12" large="12">
      <h2>
        Hi [Name],
      </h2>
      <p>
        It looks like you requested a sign in to Simppler on <em>Month DD at HH:MM</em>
      </p>
    </columns>
  </row>
  <spacer size="36"></spacer>
  <row>
    <columns small="12" large="12" >
      <a href="#"><center><img src="http://e91eca16595b6e1393de-f2697da3b0effb3e234651a3b2ae77b1.r85.cf5.rackcdn.com/email-images/sign-in-button.png"/><center></a>
    </columns>
  </row>
  <spacer size="36"></spacer>
  <row>
    <columns small="12" large="12">
      <p>
        This link will expire in 60 mins and it can only be used once (so if you've already clicked it, it's not gonna work.)
      </p>
      <spacer size="12"></spacer>
      <p class="mandatories">
        If you received this email without trying to sign in to your Simppler account, please let us know: <a href="mailto:support@simppler.com?subject='I just got a sign in email without asking for one'">support@simppler.com</a>
      </p>
    </columns>
  </row>
  <spacer size="24"></spacer>
  {{> footer}}
</container>
