<row>
  <columns small="12" large="12">
    <img id="logo-top" src="https://282843b4b9ff81fb41ad-f2697da3b0effb3e234651a3b2ae77b1.ssl.cf5.rackcdn.com/simppler_email_logo-1.png" alt="Simppler" width=200 height=53 >
  </columns>
</row>
<row>
  <columns small="12">
    <h2 class="subtitle">
      <singleline label='Subtitle'>Some subtitle goes here</singleline>
    </h2>
    <hr>
  </columns>
</row>
